[Unit]
Description=Prometheus Alert DingDingTalk
Requires=network.target
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/usr/local/ddisk
ExecStart=/usr/local/ddisk/ddisk_exporter -listen "0.0.0.0:19102" 
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target